.div1{
    text-align: center;
    height: 50px;
    width: 100%;
    background-color: black;
}
.title{
    color: white;
    position: relative;
    top: 10px;
}
.div2{
    width: 450px;
    height: 40px;
    position: relative;
    left: 38%;
}
.td1,.td2{
    width: 250px;
    height: 30px;
    text-align: center;
}
.td1:hover,.td2:hover{
    background-color: black;
    cursor: pointer;
    color: white;
}
.img,.txt{
    position: relative;
    left: 15%;
}
